{
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"printWidth": 120
			}
		},
		{
			"files": "*.pug",
			"options": {
				"printWidth": 120
			}
		},
		{
			"files": "*.scss",
			"options": {
				"singleQuote": true,
				"printWidth": 120
			}
		}
	]
}