extends layouts/main.pug

block vars
	- var sections = [];
	mixin addSectionItem(title, href)
		- sections.push({ title, href });

block main
	+addSectionItem('Hosting', '#hosting')
	section#hosting: .container
		h3 Contact Me
		p Use this super special web 1.0 web form to contact me
		form(name="contact", method="POST", data-netlify="true", data-netlify-recaptcha="true", netlify-honeypot="password")
			.row.gtr-uniform
				.col-6.col-12-xsmall
					input#name(type="text", name="name", placeholder="Name *", required)
				.col-6.col-12-xsmall
					input#email(type="email", name="email", placeholder="Email *", required)
				.col-12
					input#subject(type="text", name="subject", placeholder="Subject *", required)
				.col-12
					textarea#message(name="message", placeholder="Message *", rows="6", required)
				.col-12
					div(data-netlify-recaptcha="true")
					p(style="display: none")
						input(name="password", placeholder="Password")
				.col-12
					ul.actions
						li
							input.primary(type="submit", value="Send Message")
						li
							input(type="reset", value="Reset Form")

block nav
	include imports/nav.pug
